*{
    margin: 0;
}
body{
    margin: 0;
    background-color:#FAEDF0;
    height:auto;
    width:100%;
}
.sticky-bar{
    background-color:rgb(224, 118, 99);
    color:white;
    font-weight: bolder;
    padding:10px 0;
    position: sticky;

    top: 2px;
}
p{
    color:rgb(115, 163, 18);
}